:root {
  --font-plain: 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  --dark: #050505;
  --darkish: #404040;
  --lightish: #e6e6e6;
  --light: #fafafa;
  --mid: grey;
  --flow-space: 1.5rem;
  --large-space: 4rem;
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}
h1,
h2,
h3,
h4 {
  letter-spacing: -0.5px;
  margin-bottom: var(--flow-space);
}
/* Set core body defaults */
body {
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-family: var(--font-plain);
  color: var(--dark);
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

@media (min-width: 640px) {
  body {
    font-size: 17px;
  }
}
@media (min-width: 768px) {
  body {
    font-size: 19px;
  }
}
@media (min-width: 1024px) {
  body {
    font-size: 21px;
  }
}
@media (min-width: 1280px) {
  body {
    font-size: 22px;
  }
}

/* ================
    Home page
    ============== */

.container {
  max-width: 1200px;
  padding: 2rem;
  margin: 25px auto;
  display: grid;
  grid-template-columns: 1fr;
}
.hero {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 30px;
  margin-bottom: 4em;
}
.intro {
  font-weight: bolder;
}
.job-title {
  font-size: 2em;
}
.coloured {
  color: #ff5555;
}
.hire-button {
  border: 2px solid var(--dark);
  padding: 0.6rem 0.9rem 0.7rem 0.9rem;
  background: var(--darkish);
  color: var(--lightish);
  text-decoration: none;
  font-weight: bold;
  line-height: 1;
}
.hire-button:hover {
  background: var(--lightish);
  color: var(--darkish);
}
.description {
  margin-top: var(--flow-space);
  color: var(--darkish);
}
.projects-wrapper {
  display: grid;
  gap: 4em;
  grid-template-columns: repeat(2, 1fr);
  margin-bottom: var(--large-space);
}
@media (max-width: 692px) {
  .projects-wrapper {
    grid-template-columns: 1fr;
  }
}
.project-item p {
  margin-bottom: var(--flow-space);
  color: var(--darkish);
}
.project-image {
  width: 100%;
  object-fit: cover;
  margin-bottom: var(--flow-space);
  transition-duration: 0.3s;
  border-radius: 4px;
}
.project-image:hover {
  transform: translateY(-3px);
}
.projects-title {
  margin: 2rem 0;
  font-size: 2em;
}
.read-more {
  text-decoration: none;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--dark);
  border-bottom: 2px solid transparent;
  transition: border-bottom 0.3s ease 0s;
}
.read-more:hover {
  border-bottom: 2px solid var(--dark);
}
